.ant-table-cell {
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 2px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.ant-switch-inner-checked{
  background-color: #1890ff !important;
}
